@import "reset.css";

.container{
  margin: 20px 20px;
  display: flex;
  flex-direction: column;
}

.title{
  margin: 20px 0;
  font-size: 28px;
}

.search_nav {
  margin: 10px 0;
  padding: 10px 0;
  display: flex;
  border: rgba(0,0,0,0.5) 1px dotted;
  justify-content: space-around;
  align-items: center;
}

.date_select_div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.category_select_div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.date_select_div span{
  margin: 0 15px;
}

.category_drop_down{
  width: 150px;
  height: 20px;
}

.category_drop_down select{
  width: 100%;
  height: 100%;
}

.search_input_div{
  display: flex;
}

.search_input_div input[type='text']{
  width: 350px;
  height: 20px;
}


.search_outcome{
  margin-top: 20px;
  margin-bottom: 10px;
}

.post_container{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.post{
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid black;
  font-size: 14px;
}

.post_outline{
  font-weight: bold;
  border-bottom: 2px solid black;
}

.post_category{
  width: 20px;
  margin-left: -16px;
}

svg{
  width: 15px;
  height: 15px;
}

.post span:nth-child(2) {
  width: 5%;
}

.post_title {
  width: 40%;
  color: inherit;
  margin-left: 40px;
}

.pagination_container{
  width: 100%;
  height: 30px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.pagination{
  margin: 0 3px;
  text-decoration: none;
  color: black;
}


.button{
  background-color: rgba(0,0,0,0.75);
  border: none;
  color: gainsboro;
}

.upload_container{
  display: flex;
  justify-content: flex-end;
}

.upload_button{
  margin-top: 10px;
  width: 100px;
  height: 35px;
  cursor: pointer;
}