.container{
  padding: 50px 20px;
}

.header {
  font-size: 28px;
  font-weight: bold;
}

.writer_time_row{
  display: flex;
  justify-content: space-between;
}

.writer_div{
  margin-top: 20px;
  font-size: 14px;
}

.title_row{
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid black;
}

.view {
  font-size: 14px;
}

.post_container{
  margin: 20px 0;
  border: 1px dotted black;
}

.file_container{
  margin: 30px 0;
}

.comments_container{
  display: flex;
  flex-direction: column;
  background-color: rgba(0,0,0,0.1);
}

.comment_row{
  display: flex;
  flex-direction: column;
  border-bottom: 1px dotted black;
  padding: 10px;
}

.comment_input{
  width: 90%;
  height: 50px;
  margin: 15px 20px;
  margin-top: 25px;
}

.save_button{
  width: 50px;
  height: 50px;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
}

.comment_date{
  font-size: 10px;
  color: grey;
}

.button_set_container{
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 15px 0;
  border-top: 1px solid black;
}

.button_set{
  display: flex;
}

.list_button{
  width: 100px;
  height: 30px;
  margin-right: 10px;
  background-color: rgba(0,0,0,0.75);
  border: none;
  color: gainsboro;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}

.modi_del_btn{
  width: 100px;
  height: 29px;
  margin-right: 10px;
  text-decoration: none;
  color: rgba(0,0,0,0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  cursor: pointer;
}
