@import "reset.css";

body{
  margin: 30px 20px;
}

h1 {
  font-size: 22px;
}

.upload_form_container{
  margin-top: 50px;
  width: 1000px;
  height: 400px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.container_row{
  display: flex;
  border-top: 1px dotted black;
}

.container_row > div:first-child{
  width: 120px;
  display: flex;
  align-items: center;
  background-color: rgba(0,0,0,0.1);
}

.container_row > div:first-child span{
  padding-left: 15px;
}

.container_row > div:nth-child(2){
  padding: 10px 2px;
  display: flex;
  align-items: center;
}

.category_row select, .writer_row input{
  width: 400px;
  height: 20px;
}

.password_row input {
  width: 200px;
  height: 20px;
}

.title_row input{
  width: 800px;
  height: 20px;
}

.content_row input
{
  width: 800px;
  height: 100px;
}

.filebox_container{
  display: flex;
  flex-direction: column;
}

.filebox{
  width: 600px;
  height: 40px;
  display: flex;
}

.filebox .upload_name1, .filebox .upload_name2, .filebox .upload_name3 {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  padding: 0 10px;
  border: 1px dotted black;
}

.filebox label {
  font-size: 12px;
  width: 100px;
  height: 30px;
  display: inline-block;
  padding: 10px 20px;
  vertical-align: middle;
  cursor: pointer;
  margin-left: 10px;
  border: 1px dotted black;
  text-align: center;
}

.filebox input[type="file"] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}

.button_container{
  position: relative;
  top: 80px;
  display: flex;
  justify-content: space-between;
  padding-right: 230px;
}

.cancel_button{
  width: 100px;
  height: 30px;
  background-color: rgba(0,0,0,0.25);
  border: none;
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.save_button{
  width: 100px;
  height: 30px;
  background-color: rgba(0,0,0,0.75);
  border: none;
  color: gainsboro;
}



