<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ebrainstudy__springbootbbs.file.FileMapperInterface">
  <select id="selectFiles" resultType="com.example.ebrainstudy__springbootbbs.file.FileVO">
    SELECT *
    FROM   file
    WHERE  article_id = ${articleId}
  </select>
  <select id="selectForDownload" resultType="com.example.ebrainstudy__springbootbbs.file.FileVO">
    SELECT *
    FROM   file
    WHERE  file_uuid = '${fileUuid}'
  </select>
  <insert id="insertFile">
    INSERT INTO file
                (
                    file_uuid,
                    name_on_server,
                    name_original,
                    article_id,
                    file_path,
                    file_size,
                    file_extension
                )
           VALUES
                (
                    UNHEX(REPLACE(UUID(),'-','')),
                    "${newFile.nameOnServer}",
                    "${newFile.nameOriginal}",
                    ${newFile.articleId},
                    "${newFile.filePath}",
                    ${newFile.fileSize},
                    "${newFile.fileExtension}"
                )
  </insert>
  <delete id="deleteFileOnArticle">
    DELETE FROM file
    WHERE article_id = #{articleId}
  </delete>
</mapper>